html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: hsl(30, 54%, 90%);
}
@media screen and (min-width: 576px) {
  body {
    margin: 12.3rem 0;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}
@media screen and (min-width: 576px) {
  #main {
    margin-top: 2rem;
  }
}

.recipe-card {
  min-width: 376px;
  max-width: 73.6rem;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 576px) {
  .recipe-card {
    border-radius: 2rem;
  }
}
.recipe-card__img-wrapper {
  overflow: hidden;
}
@media screen and (min-width: 576px) {
  .recipe-card__img-wrapper {
    margin: 4rem 4rem 0;
    border-radius: 1rem;
  }
}
.recipe-card__img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 576px) {
  .recipe-card__img {
    height: auto;
  }
}
.recipe-card__copy-container {
  padding: 4rem 3rem 3.2rem 3.3rem;
}
@media screen and (min-width: 576px) {
  .recipe-card__copy-container {
    padding-left: 4rem;
  }
}
.recipe-card__divider {
  margin-bottom: 2.6rem;
  border-style: solid;
  border-width: 0.1rem 0 0;
  border-color: hsl(30, 54%, 90%);
}
@media screen and (min-width: 576px) {
  .recipe-card__divider {
    margin-bottom: 2.7rem;
  }
}

.recipe-name {
  margin-bottom: 2.5rem;
  line-height: 1;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 3.59rem;
  color: hsl(24, 5%, 18%);
}
@media screen and (min-width: 576px) {
  .recipe-name {
    font-size: 4rem;
  }
}

.recipe-description {
  margin-bottom: 3rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.52rem;
  letter-spacing: 0.035rem;
  line-height: 1.6;
  color: hsl(30, 10%, 34%);
}

.ingredients__item, .prep-time__item {
  display: flex;
  align-items: center;
}

.ingredients__item::before, .prep-time__item::before {
  flex-shrink: 0;
  content: "";
  margin-right: 2.8rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.prep-time {
  margin-bottom: 3.2rem;
  border-radius: 1rem;
  padding: 2.1rem 3rem 1rem 2.4rem;
  background-color: hsl(330, 100%, 98%);
}
@media screen and (min-width: 576px) {
  .prep-time {
    margin-bottom: 3rem;
    padding: 2.5rem 3rem 1.4rem 2.8rem;
  }
}
.prep-time__header {
  margin-bottom: 1.5rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: hsl(332, 51%, 32%);
}
.prep-time__list {
  padding-left: 0.8rem;
}
.prep-time__item {
  margin-bottom: 1rem;
}
.prep-time__item::before {
  background: black;
}
.prep-time__item-txt, .prep-time__item-txt--lbl {
  margin-bottom: 0;
  line-height: 1.4;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.61rem;
  color: hsl(30, 10%, 34%);
}
.prep-time__item-txt--lbl {
  font-weight: 600;
}

.ingredients {
  margin-bottom: 2.7rem;
}
@media screen and (min-width: 576px) {
  .ingredients {
    margin-bottom: 3rem;
  }
}
.ingredients__header {
  margin-bottom: 1.6rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(14, 45%, 36%);
}
.ingredients__list {
  padding-left: 0.8rem;
}
.ingredients__item {
  margin-bottom: 0.5rem;
}
.ingredients__item::before {
  background: black;
}
.ingredients__item-txt {
  margin-bottom: 0;
  line-height: 1.67;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
}

.instructions {
  margin-bottom: 3.1rem;
}
@media screen and (min-width: 576px) {
  .instructions {
    margin-bottom: 3rem;
  }
}
.instructions__header {
  margin-bottom: 1.8rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(14, 45%, 36%);
}
.instructions__list {
  padding-left: 2.5rem;
  line-height: 1.5;
}
@media screen and (min-width: 576px) {
  .instructions__list {
    padding-right: 1rem;
  }
}
.instructions__item {
  padding-left: 1.5rem;
  margin-bottom: 0.8rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
}
.instructions__item::marker {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}
.instructions__lbl {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.nutrition {
  margin-bottom: 1rem;
}
.nutrition__header {
  margin-bottom: 1.8rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(14, 45%, 36%);
}
.nutrition__copy {
  margin-bottom: 2.6rem;
  margin-right: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: hsl(30, 10%, 34%);
}
.nutrition__table {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.nutrition__qty {
  padding-left: 3.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
}
.nutrition__val {
  padding-right: 9.4rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: hsl(14, 45%, 36%);
}
@media screen and (min-width: 576px) {
  .nutrition__val {
    padding-right: 27.5rem;
  }
}
.nutrition__table-divider {
  grid-column: 1/3;
  border-width: 0.1rem 0 0;
  border-color: hsl(30, 18%, 87%);
  border-style: solid;
  margin: 1.36rem 0;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */