// Screen widths
$x-small: 376px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xxl-large: 1400px;
$breakpoint: $small;

// Colors
$white: hsl(0 0% 100%);  //white 

$primary-lighter: hsl(30 54% 90%);  //Stone 100
$primary-light: hsl(30 18% 87%);  //Stone 150
$primary: hsl(30, 10%, 34%);  //Stone 600
$primary-dark: hsl(24, 5%, 18%);  //Stone 900

$secondary: hsl(14 45% 36%);  //Brown 800

$tertiary: hsl(332 51% 32%);  //Rose 800
$tertiary-light: hsl(330 100% 98%);  //Rose 50


// Fonts


// Base Rules

html {
    font-size: 62.5%;
}

* > * {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    margin: 0;
    background-color: sandybrown;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}




// Layout Rules

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: $small) {
        margin-top: 2rem;     
    }
}


// Module Rules

.recipe-card {
    min-width: $x-small;
    max-width: $medium;
    margin-bottom: 1rem;
    background-color: azure;

    @media screen and (min-width: $breakpoint) {
        border-radius: 2rem;
    }

    &__img-wrapper {
        overflow: hidden;
        margin-bottom: 1rem;;
    
        @media screen and (min-width: $breakpoint) {
            margin: 2rem;
            border-radius: 2rem;
        }
    }
    
    &__img {
        display: block;
        width: 100%;
    }
    
    &__copy-container {
        padding: 2rem;
    }

    &__divider {
        height: .2rem;
        width: 90%;
        margin-bottom: 1rem;
        color: grey;
    }
}

.recipe-name {
    margin-bottom: 1rem;
}

.recipe-description {
    margin-bottom: 1rem;
}

.prep-time {
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: lightpink;

    &__header {
        margin-bottom: 1rem;
    }
    
    &__list {
        padding-left: 2rem;
    }
    
    &__item {
        padding-left: 1rem;
    }
    
    &__lbl {
        color: red;
    }
}

.ingredients {
    margin-bottom: 2rem;

    &__header {
        margin-bottom: 1rem;
    }
    
    &__list {
        padding-left: 2rem;
    }
    
    &__item {
        padding-left: 1rem;
    }

}

.instructions {
    margin-bottom: 2rem;

    &__header {
        margin-bottom: 1rem;
    }

    &__list {
        padding-left: 2rem;
    }

    &__item {
        padding-left: 2rem;
    }

    &__lbl {
        color: red;
    }
}

.nutrition {
    margin-bottom: 1rem;

    &__header {
        margin-bottom: 1rem;
    }

    &__copy {
        margin-bottom: 1rem;
    }

    &__table {
        margin-bottom: 1rem;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__qty {
        font-size: 1rem;
    }

    &__val {
        font-size: 1rem;
        color: red;
    }

    &__divider {
        height: .2rem;
        width: 90%;
        margin-bottom: 1rem;
        color: gray;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


// Dev run-level
