html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: sandybrown;
}

#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 576px) {
  #main {
    margin-top: 2rem;
  }
}

.recipe-card {
  min-width: 376px;
  max-width: 768px;
  margin-bottom: 1rem;
  background-color: azure;
}
@media screen and (min-width: 576px) {
  .recipe-card {
    border-radius: 2rem;
  }
}
.recipe-card__img-wrapper {
  overflow: hidden;
  margin-bottom: 1rem;
}
@media screen and (min-width: 576px) {
  .recipe-card__img-wrapper {
    margin: 2rem;
    border-radius: 2rem;
  }
}
.recipe-card__img {
  display: block;
  width: 100%;
}
.recipe-card__copy-container {
  padding: 2rem;
}
.recipe-card__divider {
  height: 0.2rem;
  width: 90%;
  margin-bottom: 1rem;
  color: grey;
}

.recipe-name {
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2rem;
}

.recipe-description {
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.prep-time {
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: lightpink;
}
.prep-time__header {
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.prep-time__list {
  padding-left: 2rem;
}
.prep-time__item {
  padding-left: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.prep-time__lbl {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.ingredients {
  margin-bottom: 2rem;
}
.ingredients__header {
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.ingredients__list {
  padding-left: 2rem;
}
.ingredients__item {
  padding-left: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.instructions {
  margin-bottom: 2rem;
}
.instructions__header {
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.instructions__list {
  padding-left: 2rem;
}
.instructions__item {
  padding-left: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.instructions__lbl {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.nutrition {
  margin-bottom: 1rem;
}
.nutrition__header {
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.nutrition__copy {
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.nutrition__table {
  margin-bottom: 1rem;
}
.nutrition__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.nutrition__qty {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.nutrition__val {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.nutrition__divider {
  height: 0.2rem;
  width: 90%;
  margin-bottom: 1rem;
  color: gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */