// Screen widths
$x-small: 376px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xxl-large: 1400px;

$breakpoint: $small;


// Base Rules

html {
    font-size: 62.5%;
}

* > * {
    box-sizing: border-box;
    margin-bottom: 0;
}

body {
    margin: 0;
    background-color: sandybrown;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

// Colors

// Fonts


// Layout Rules

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: $small) {
        margin-top: 2rem;     
    }
}


// Module Rules

.recipe-card {
    min-width: $x-small;
    max-width: $medium;
    background-color: azure;

    @media screen and (min-width: $breakpoint) {
        border-radius: 2rem;
    }
}

.recipe-img-wrapper {
    overflow: hidden;

    @media screen and (min-width: $breakpoint) {
        margin: 2rem;
        border-radius: 2rem;
    }
}

.recipe-img {
    display: block;
    width: 100%;
}

.recipe-copy {
    padding: 2rem;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


// Dev run-level
